@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;400;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body {
    color: #1a1a1a;
    background-color: #effe8b;
}

/* Navbar */
.navbar {
    background: #effe8b;
    padding: 10px 50px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    text-decoration: none;
    color: #1a1a1a;
    font-size: 1.5rem;
    font-weight: 600;
}

.menu {
    display: flex;
    margin-left: auto;
}

.menu a {
    margin-left: 20px;
    font-size: 1rem;
    color: #1a1a1a;
    text-decoration: none;
}

.menu a:hover {
    text-decoration: underline;
}

/* Dashboard Layout */
.dashboard-container {
    display: flex;
    padding: 20px;
}

/* Sidebar */
.sidebar {
    width: 30%;
    color: #1a1a1a;
    padding: 20px;
    border-radius: 10px;
}

.sidebar h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    margin-bottom: 15px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #1a1a1a;
    font-size: 1.2rem;
    display: block;
    padding: 10px;
    border-radius: 5px;
    transition: 0.3s ease;
}

.sidebar ul li a:hover {
    background: #d9d975;
}

/* badge */

.badge {
    color : #1a1a1a;
    transition: 1s all ease;
}

.badge:hover {
    transform: scale(1.2);
}


.appointment-details {
    flex-grow: 1;
    padding: 20px;
}

.appointment-details h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.appointment-details p {
    font-size: 1rem;
    margin-bottom: 20px;
}

.details-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.details-section {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex: 1;
    min-width: 300px;
}

.details-section h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.info p {
    margin-bottom: 10px;
}

.history p {
    margin-bottom: 10px;
}

.charges p,
.charges label {
    margin-bottom: 10px;
    display: block;
}

.charges input,
.charges textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    margin-bottom: 10px;
}

.actions-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
}

.actions-buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.actions-buttons button.primary {
    background-color: #1a1a1a;
    color: white;
}

.actions-buttons button:hover {
    transform: size(1.05);
    transition: 0.3s ease;
}

textarea {
    resize: none;
}
.cancle{
    color: white;
    background-color: red;
    border-radius: 5px;
}